.filelist{
  overflow: auto;
  padding-bottom: 30px;
  &__header{
    background-color: #eae9e9;
    align-items: center;
    padding: 10px;
    //height: 20px;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }
  &__name{
    grid-column-start: 2;
  }
  &__date{
    grid-column-start: 5;
    justify-self: center;
  }
  &__size{
    grid-column-start: 6;
    justify-self: center;
  }
}
.empty-folder{
  display: flex;
  justify-content: center;
}
.fileplate{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding-bottom: 30px;
}

.file-enter-active {
  animation: file-enter 600ms forwards;
}
@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.filelist::-webkit-scrollbar, .fileplate::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(150, 150, 150, 0.67);
}
.filelist::-webkit-scrollbar-thumb, .fileplate::-webkit-scrollbar-thumb, {
  background-color: #3b3a37;
  border-radius: 3px;
}
.filelist::-webkit-scrollbar-thumb:hover, .fileplate::-webkit-scrollbar-thumb:hover{
  background-color: #253861;
}
