.app-wrapper{
  display: grid;
  grid-template-rows: 51px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
"header header"
"leftbar navbar"
"leftbar disk";
  margin: 0 auto;
  width: 100%;
}
